body{
	font-family: sofia-pro;
	background: #EBEBEB;
	margin:0;
    padding:0;
}

.book-container{
	padding: 0;
	margin: 0;

}

.book{
	width:3.5rem;
	height:3.5rem;
	border-radius:100%;
	background-color: white;
	margin-right: .5rem;
	margin-top: 2rem;
	flex-shrink: 0;
	cursor: pointer;
}

.detail{
  top:0;
  left:0;
  position:fixed;
  display: none;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #EBEBEB;
 }

.detail.show {
	display: block;
}



/*SHELVES*/

.shelf-1{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.shelf-2{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;

}

.shelf-3{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.shelf-4{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.shelf-5{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.shelf-6{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.shelf-7{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.shelf-8{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}


/*ELEMENTS*/

.book-title{
	font-size: 2rem;
	font-style: bold;
	padding-left: 20rem;
	margin:0;
	width: 50rem;

}

.book-genre{
	font-size: 1rem;
	padding-left: 20rem;
}

.book-image{
	padding-left: 40vw;
	width:20rem;
	height:auto;

}

.book-order{
	font-style: bold;
	font-size:10vh;
	left:20rem;
	padding-left: 5rem;
	margin:0;
}

.book-description{
	padding-left: 20rem;
	font-style: italic;
	width: 30rem;
}


/*GENRES*/

.coming-of-age{
	background-color: #FFF500;
}

.collected-work{
	background-color: #FF7A00;
	color: #FF7A00;
}

.romance{
	background-color: #FF09E8;
}

.poetry{
	background-color: #7000FE;
}

.thriller{
	background-color: #001AFF;
}

.fantasy{
	background-color: #CC39FF;
}

.science-fiction{
	background-color: #51FC00;
}

.non-fiction{
	background-color: #00ECDE;
}

.fiction{
	background-color: #00C2FF;
}

.classic{
	background-color: #DBFF00;
}

.memoir{
	background-color: #FFC700;
}

.short-story{
	background-color: #FF7A00;
}

