body{
	text-align:center;
}

img{

	width: 30%;
	height: auto;
	position: center;
}

#button {
	background-color: #F9DBDF;
	color: white ;
 	font-family: proxima-nova;
 	border: white;
	font-weight: 500;
	font-style: normal;
}
