/*------general------*/

html{
  font-size: 62.5%
}

body{
  overflow-x: hidden;
  margin:0;
  padding:0;
}

@font-face{
  font-family: inter;
  src: url(Inter-Regular.otf);
}

@font-face{
  font-family: interbold;
  src: url(Inter-SemiBold.otf);
}


/*PAGE BREAKDOWN*/
#fold1{
  height:100%;

}

#fold2{
  height:100%;
  display:flex;
  flex-direction: center;
  justify-content: center;
}

/*FADE-IN*/
#fade-in {
animation: fadeIn ease 5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track { 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #F63274; 
  border-radius: 10px;
}



/*------index.html------*/


/*ON PUNCTUATION -- GERTRUDE STEIN*/
.header{
  font-size: 2.2vh;
  font-family: inter;
  text-align: center;
  position: fixed;
  padding-top: .2rem;
  top:0;
  background-color: white;
  opacity: 80%;
  z-index: 1;
  height: 8.5vh;
  width: 100vw;
}

.header :hover{
  color: #F63274; 
}


/*THERE ARE SOME PUNCTUATIONS THAT ARE INTERESTING...*/
.text1{
  position:relative;
  text-align: center;
  font-size: 12vh;
  font-family: orpheuspro, serif;
  font-style: italic;
  line-height: 10vh;
  z-index: 100;

}

/*CIRCLES*/
.container {
  width: 400px;
  position:absolute;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 400;
  opacity: 0;
  transition: 5s ease;
}
.container:hover .overlay {
  opacity: 100;
  filter: blur(1rem);
}

.text {
  font-size: 20rem;
  font-family: orpheuspro, serif; 
  font-style: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#greencircle{
  position: absolute;
  top:192vh;
  left:2vw;
  padding:none;
  z-index: 5;
}

#pinkcircle{
  position: absolute;
  top:135vh;
  left:12vw;
  padding:none;
  z-index: 10;
}

#orangecircle{
  position: absolute;
  top:185vh;
  left:40vw;
  padding:none;
  z-index: 5;

}

#yellowcircle{
  position: absolute;
  top:135vh;
  left:70vw;
  padding:none;
  z-index: 5;
}


#exclamationcircle{
  position: absolute;
  top:135vh;
  left:43vw;
  padding:none;
}

#coloncircle{
  position: absolute;
  top:192vh;
  left:73vw;
  padding:none;
  z-index: 5;
}

#orangeoval{
  position: absolute;
  top:118vh;
  left:0vw;
  filter: blur(2rem);
  padding:none;
  z-index:2;

}

#pinkoval{
position: absolute;
  top:185vh;
  left:50vw;
  padding:none;
  z-index:2;
}

#greenoval{
position: absolute;
top:140vh;
left:0vw;
padding:none;
z-index:2;
}

#greenoval2{
position: absolute;
top:203vh;
left:43vw;
padding:none;
filter: blur(2rem);
z-index:1;
}

#pinkoval2{
position: absolute;
top:180vh;
left:-15vw;
padding: none;
z-index:1;
}

#pinkoval3{
position: absolute;
top:125vh;
left:80vw;
padding: none;
z-index:1;
}


/*------home.html------*/


/*LET US BEGIN WITH THOSE THAT ARE NOT.*/
.text2{
  font-size: 12vh;
  line-height: 10vh;
  padding-top: 25vh;
  padding-bottom: 10vh;
  font-family: orpheuspro, serif;
  font-style: italic;
  margin: 0;
}

/*SECTION LINKS*/
.sections{
  font-family: inter;
  font-size: 3.5vh;
  text-align: center;
  display: grid;
  width:70vw;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 22vh;
}
.sections :visited{
  color:#F63274;
}
.sections :hover{
  color:#d8ff41;
  filter: blur(.2rem);
}

/*------back.html------*/
#backbutton{
  padding-top:44vh;
  font-size: 12vh;
  line-height: 10vh;
  font-family: orpheuspro, serif;
  font-style: italic;
}

#backbutton :visited{
  color:#F63274;
}

#backbutton :hover{
  color:#d8ff41;
  filter: blur(.2rem);
}