html{
  font-size: 62.5% 
}

body{
  overflow-x: hidden;
}

@font-face{
  font-family: apoc;
  src: url(Apoc.ttf);
}

/*PAGE BREAKDOWN*/
#fold1{
  height:100%;
}

#fold2{
  height:100%;
  z-index:9999;
}


.scrolling {
  font-size: 9rem; 
  font-style: italic;
  font-family: apoc;
  line-height: 8rem;
  padding-top: 25rem;
  padding-bottom: 50rem;
  overflow: hidden;
  position: relative;
}

.leftscroll, .rightscroll{
  position: absolute;
  margin: 0;
  line-height: 50px;
}

.leftscroll{
  animation: left-scroll 15s linear infinite;

   -moz-transform:translateX(50%);
  -webkit-transform:translateX(50%); 
  transform:translateX(50%);
  -moz-animation: left-scroll 10s linear infinite alternate;
  -webkit-animation: left-scroll 10s linear infinite alternate;
  animation: left-scroll 10s linear infinite alternate;
}

.rightscroll{
  animation: right-scroll 15s linear infinite;

   -moz-transform:translateX(50%);
  -webkit-transform:translateX(50%); 
  transform:translateX(50%);
  -moz-animation: right-scroll 10s linear infinite alternate;
  -webkit-animation: right-scroll 10s linear infinite alternate;
  animation: right-scroll 10s linear infinite alternate;
}

 @keyframes left-scroll {
            0% {transform: translateX(100%);}
            100% {transform: translateX(-100%);} }
        
        @-webkit-keyframes left-scroll {
            0% {-webkit-transform: translateX(100%); }
            100% {-webkit-transform: translateX(-100%);} }
        
        @keyframes left-scroll {
            0% {
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%); }
            100% {
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
        }


 @keyframes right-scroll {
            100% {transform: translateX(100%);}
            0% {transform: translateX(-100%);} }
        
        @-webkit-keyframes right-scroll {
            100% {-webkit-transform: translateX(100%); }
            0% {-webkit-transform: translateX(-100%);} }
        
        @keyframes right-scroll {
            100% {
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%); }
            0% {
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
        }
}