html{
  font-size: 62.5% 
}

body{
  overflow-x: hidden;
  margin:0;
}

@font-face{
  font-family: inter;
  src: url(Inter-Regular.otf);
}

@font-face{
  font-family: interbold;
  src: url(Inter-SemiBold.otf);
}

.header{
  font-size: 2.2vh;
  font-family: inter;
  text-align: center;
  position: fixed;
  padding-top: .2rem;
  top:0;
  background-color: white;
  opacity: 80%;
  z-index: 1;
  height: 8.5vh;
  width: 100vw;
}

.header :hover{
  color: #F63274; 
}

/*PAGE BREAKDOWN*/
#fold1{
  height:100%;
}

#fold2{
  height:100%;
}


.scrolling {
  font-size: 12vh;
  font-style: italic;
  font-family: orpheuspro, serif;
  line-height: 11vh;
  padding-top: 36vh;
  padding-left: none;
  padding-right: none;
  overflow: hidden;
  position: relative;
}

.leftscroll, .rightscroll{
  margin: 0;
  white-space: nowrap;
}
.rightscroll {
  text-align: right;
}

.leftscroll{
  animation: left-scroll 10s linear infinite;
}

.rightscroll{
  display: flex;
  justify-content: flex-end;
  animation: right-scroll 10s linear infinite;
}

@keyframes left-scroll {
  0% {transform: translateX(0);}
  100% {transform: translateX(-2779px);}
}


@keyframes right-scroll {
  0% {transform: translateX(0);}
  100% {transform: translateX(2957px);} }

}