@font-face{
	font-family: hillside;
	src: url(BNHillsideGrotesk.otf);
}

html{
	overflow: hidden;
	height:100vh;
	width:100vw;
	cursor: url("./cursor.png"), auto;
}

body{
	margin: 0;
	padding: 0;
	background-color: #2400FF;
	cursor: url("./cursor.png"), auto;
}

#click{
	font-family: hillside;
	background-color:  #2400FF;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 48vh;
	padding-bottom: 12vh;
}

#id2{
	font-family: hillside;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 45vh;
	display:none;
}

#and{
	font-family: hillside;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 12vh;
	display:none;
	animation: slam .2s;
	animation-timing-function: ease-in;
	animation-delay: 3s;
}

#id3{
	font-family: hillside;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 48vh;
}

#click:hover {
	display:none !important;
}


@media (max-width: 500px){
	body{
		margin: 0;
		padding: 0;
	}

	#click{
		display: none !important;
	}
	#id2{
		display: inline-block;
	}
	#and{
		display:block;
	}
	#id3{
		display:none !important;
	}
}

@keyframes slam
{0% {transform: scale(10, 10);
    opacity: 0;}
 40%
  {opacity: 0;
  }
  100%
  {transform: scale(1, 1);
   opacity: 1;
  }
}

.words{
	position: absolute;
	top:-3vh;
	width:100%;
	cursor: url("./cursor.png"), auto;
	animation: slam .2s;
	animation-timing-function: ease-in;
}

.words img{
	width:600px;
	display: none;
	cursor: url("./cursor.png"), auto;
}

.flips{
	position: absolute;
	width:100vw
	height:100vh;
}

.flips img{
	width:600px;
	display: none;
}

.tap{
	width:100%;
	position:fixed;
	top:-5%; 
	left:-2%;
	display: none;
}