@font-face{
	font-family: hillside;
	src: url(BNHillsideGrotesk.otf);
}

html{
	overflow: hidden;
	height:100vh;
	width:100vw;
	cursor: url("./cursor.png"), auto;
}

body{
	margin: 0;
	padding: 0;
	background-color: #2400FF;
}

#id1{
	font-family: hillside;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 48vh;
	padding-bottom: 12vh;
	cursor: url("./cursor.png"), auto;
}

#id2{
	font-family: hillside;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 42vh;
	display:none;
}

#id3{
	font-family: hillside;
	color:#FAFF00;
	font-size: 3vh;
	margin-top: 48vh;
	cursor: url("./cursor.png"), auto;
}

#id1:hover {
	display:none;
}

#id3:hover {
	display:block;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

@media (max-width: 500px){
	#id1{
		display: none;
	}
	#id2{
		display: inline-block;
	}
	#id3{
		display:none;
	}
}

@keyframes slam
{0% {transform: scale(10, 10);
    opacity: 0;}
 40%
  {opacity: 0;
  }
  100%
  {transform: scale(1, 1);
   opacity: 1;
  }
}

.words{
	position: absolute;
	top:-3vh;
	width:100%;
	cursor: url("./cursor.png"), auto;
	animation: slam .2s;
	animation-timing-function: ease-in;
}

.words img{
	width:600px;
	display: none;
	cursor: url("./cursor.png"), auto;
}

.flips{
	position: absolute;
	width:100vw
	height:100vh;
}

.flips img{
	width:600px;
	display: none;
}

.tap{
	width:100%;
	position:fixed;
	top:-10%; 
	left:-2%;
	display: none;
}