@font-face{
	font-family: zodiacnotes;
	src: url(zodiacnotes.ttf);
}

body{
	background-color: black;
}

/*----index.html----*/

/*FADE-IN*/

.fade-in {
animation: fadeIn ease 13s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/*ZOOM ANIMATION*/

.zoom {
  transition: transform .5s; 
  height: 350px;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.5); }


/*----home.html----*/

/*NAVIGATION BAR*/
.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 12%; 
  text-align: center;
}

.navbar a:hover {
  color:red;
}

/*HEADER*/

header{
	color:white;
	font-family: calling-code, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align:center;
}

/*TITLE*/

#title{
	padding-top: 150px;
	padding-bottom: 10px;
	margin-bottom: 0;
	color:black;
	font-family: zodiacnotes;
	font-weight: 400;
}

.glow {
  font-size: 90px;
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
  }
  
  to {
    text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
  }
}


.footer{
	color:white;
	font-family: calling-code, sans-serif;
}



.container {
  position: relative;
  width: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 300;
  opacity: 0;
  transition: .5s ease;
  background-color: red;
}

.container:hover .overlay {
  opacity: .9;
}


.text {
  color: white;
  font-size: 14px;
  font-family: calling-code, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mytwittergallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  width:;
}

.mygallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width:975px;
}

iframe#playlist{
  	position: relative;
  	height: 80px;
  	width: auto;
  	padding: 25px;
}

.text2{
	color:white;
	font-family: calling-code, sans-serif;
	font-weight: 400;
	font-size: 60px;
	font-style: normal;
}