  body{
    font-family: futura;
    background-color: lavenderblush;
    color: violet;
  }

  header{
    text-align: center
  }

  figcaption{
    font-style: italic;
  }

  #background{
  background-image:url(./sparkle.gif), url(./sparkle2.gif), url(./giphy.gif), url(./blue.jpeg);
  background-repeat:no-repeat;
  background-size: cover;
  }


  #description{
    font-style: bold;
  }

  #web-ring {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    background-color: rgb(52, 86, 228);
    border: solid 2px white;
    font-family: sans-serif;
  }

  #web-ring a:link {
    color: white;
    text-decoration: none;
  }

  #web-ring a:hover {
    text-decoration: underline;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
